{% extends 'grunty/base.html' %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Próbki gruntu</h3>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                {% for field in fields %}
                                <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for badanie in badania %}
                                <tr>
                                    <td>{{ badanie.id }}</td>
                                    <td>{{ badanie.oznakowanie }}</td>
                                    <td>{{ badanie.kategoria }}</td>
                                    <td>{{ badanie.pHwKCL }}</td>
                                    <td>{{ badanie.potrz_wapn }}</td>
                                    <td>{{ badanie.p2o5 }}</td>
                                    <td>{{ badanie.k2o }}</td>
                                    <td>{{ badanie.mg }}</td>
                                    <td>{{ badanie.b }}</td>
                                    <td>{{ badanie.mn }}</td>
                                    <td>{{ badanie.cu }}</td>
                                    <td>{{ badanie.zn }}</td>
                                    <td>{{ badanie.fe }}</td>
                                    <td>{{ badanie.lat }}</td>
                                    <td>{{ badanie.long }}</td>

                                    <td>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button type="submit" name="del_id" class="btn btn-block btn-outline-danger" value="{{ badanie.id }}">Usuń</button>
                                    </form>
                                    </td>

                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}